.reward-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "SF Pro Display", sans-serif;


    h2 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }

    .reward-button {
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
        }
    }
}