.animated-plus {
    position: absolute;
    animation: floatAndFade 2s forwards;
}

@keyframes floatAndFade {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@keyframes shrinkCoin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.shrinking {
    animation: shrinkCoin 0.2s forwards;
}